$primary: #202020;
$secondary: #121212;
$third: #d2d2d2;
$white: #fff;
$black: #000;
$blue: #3137c9;

$sidebar-width: 30rem;
$z-sidebar: 1000;
$z-header: 1000;
$z-modal: 1010;

$bp-tablet: 991px;
$bp-mobile: 728px;

$system-fonts: system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue",
	"Arial", "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji",
	"Segoe UI Symbol", "Noto Color Emoji", sans-serif;
