.header {
	position: fixed;
	top: 0;
	right: 0;
	z-index: $z-header;
	background-color: #0d0d0d;
	width: calc(100% - #{$sidebar-width});
	box-shadow: 0 5px 22px rgba($color: $black, $alpha: 0.25);
	display: flex;
	@include media($bp-tablet) {
		width: 100%;
	}
}

.header__left {
	width: 65%;
	@include media($bp-mobile) {
		width: 25%;
	}
}

.header__right {
	display: flex;
	justify-content: flex-end;
	width: 35%;

	@include media($bp-mobile) {
		width: 75%;
	}
}
