<header class="header">
	<div class="header__left">
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item"><a href="/personal-blog-gulp/" class="nav__link">Главная</a></li>
				<li class="nav__item">
					<a href="#" class="nav__link has-nav-sub">Статьи</a>
					<ul class="nav-sub">
						<li class="nav-sub__item">
							<a href="/personal-blog-gulp/post.html" class="nav-sub__link">Создание сайтов</a>
						</li>
						<li class="nav-sub__item">
							<a href="#" class="nav-sub__link">Интернет-маркетинг</a>
						</li>
						<li class="nav-sub__item">
							<a href="#" class="nav-sub__link">Продвижение видео</a>
						</li>
					</ul>
				</li>
				<li class="nav__item"><a href="#" class="nav__link">Обо мне</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Реклама</a></li>
			</ul>
		</nav>
		<button class="burger" type="button" id="sidebarToggle">
			<span></span>
		</button>
	</div>
	<div class="header__right">
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a href="/personal-blog-gulp/profile.html" class="nav__link">Профиль</a>
				</li>
				<li class="nav__item">
					<a href="/personal-blog-gulp/signin.html" class="nav__link">Вход</a>
				</li>
			</ul>
		</nav>
		<form action="/personal-blog-gulp/search.html" class="search-form" method="GET">
			<input
				type="text"
				class="search-form__field"
				placeholder="Поиск по блогу"
			/>
		</form>
	</div>
</header>
