<div class="modal">
	<div class="modal__content">
		<div class="modal__close"></div>
		<ul class="social">
			<li class="social__item">
				<a href="#"><img src="img/icon-fb.svg" alt="" /></a>
			</li>
			<li class="social__item">
				<a href="#"><img src="img/icon-tw.svg" alt="" /></a>
			</li>
			<li class="social__item">
				<a href="#"><img src="img/icon-vk-lg.svg" alt="" /></a>
			</li>
			<li class="social__item">
				<a href="#"><img src="img/icon-copy.svg" alt="" /></a>
			</li>
		</ul>
	</div>
</div>
